docs/hk-product-sync-n8n-workflow.json
{
  "name": "HK Product Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8,20 * * *"
            }
          ]
        }
      },
      "id": "11111111-0000-0000-0000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        80,
        220
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hk-product-sync",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "11111111-0000-0000-0000-000000000002",
      "name": "Webhook: Manual Sync",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        80,
        440
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst firstItem = items[0]?.json;\nconst staticData = $getWorkflowStaticData('global');\n\nconst isManual = !!(firstItem?.body?.syncMode === 'full' || firstItem?.syncMode === 'full' || firstItem?.headers);\n\nstaticData.isManual = isManual;\nstaticData.totalSynced = 0;\nstaticData.totalFailed = 0;\nstaticData.currentSyncLogId = null;\nstaticData.currentCount = 0;\nstaticData.syncStartedAt = new Date().toISOString();\n\nreturn [{ json: { isManual } }];"
      },
      "id": "11111111-0000-0000-0000-000000000003",
      "name": "Code: Init",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hkmis.ca/apicall/website/products/get-products-count.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authName",
              "value": "hkbwparts"
            },
            {
              "name": "authKey",
              "value": "/Hm1e&c1K&HGT4eF]F[SPY]3K!f9ITc*"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "11111111-0000-0000-0000-000000000004",
      "name": "HTTP: Get Count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        560,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://uibyfzthfjhxdxyferqj.supabase.co/rest/v1/sync_logs?select=products_synced&status=eq.success&order=started_at.desc&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVpYnlmenRoZmpoeGR4eWZlcnFqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQ1ODQzOCwiZXhwIjoyMDg5MDM0NDM4fQ.bfVy_5Jm0lZHPwNdIjj5PvCrHTis-nGNKIIIDYPyCEQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVpYnlmenRoZmpoeGR4eWZlcnFqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQ1ODQzOCwiZXhwIjoyMDg5MDM0NDM4fQ.bfVy_5Jm0lZHPwNdIjj5PvCrHTis-nGNKIIIDYPyCEQ"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "11111111-0000-0000-0000-000000000005",
      "name": "HTTP: Last Synced Count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        560,
        440
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "11111111-0000-0000-0000-000000000006",
      "name": "Merge: Count + LastSync",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        800,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst allItems = $input.all();\n\n// Read current count from HTTP: Get Count response\nlet currentCount = 0;\nfor (const item of allItems) {\n  const data = Array.isArray(item.json) ? item.json[0] : item.json;\n  if (data?.count !== undefined) {\n    currentCount = Number(data.count) || 0;\n    break;\n  }\n}\n\nstaticData.currentCount = currentCount;\n\n// Always sync \u00e2\u20ac\u201d count-change guard removed. Runs 2x daily, handles new/deleted SKUs.\nreturn [{ json: { shouldSync: true, currentCount, isManual: !!staticData.isManual } }];"
      },
      "id": "11111111-0000-0000-0000-000000000007",
      "name": "Code: Should We Sync",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.shouldSync }}",
              "value2": true
            }
          ]
        }
      },
      "id": "11111111-0000-0000-0000-000000000008",
      "name": "IF: Skip or Sync",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1280,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uibyfzthfjhxdxyferqj.supabase.co/rest/v1/sync_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVpYnlmenRoZmpoeGR4eWZlcnFqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQ1ODQzOCwiZXhwIjoyMDg5MDM0NDM4fQ.bfVy_5Jm0lZHPwNdIjj5PvCrHTis-nGNKIIIDYPyCEQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVpYnlmenRoZmpoeGR4eWZlcnFqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQ1ODQzOCwiZXhwIjoyMDg5MDM0NDM4fQ.bfVy_5Jm0lZHPwNdIjj5PvCrHTis-nGNKIIIDYPyCEQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({sync_type:'full', started_at: new Date().toISOString(), status:'running'}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "11111111-0000-0000-0000-000000000009",
      "name": "HTTP: Insert Sync Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1520,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\n\n// Supabase REST returns array; handle both array and direct object\nconst raw = $input.first().json;\nconst record = Array.isArray(raw) ? raw[0] : raw;\nstaticData.currentSyncLogId = record?.id;\n\n// Read count directly from Code: Should We Sync output \u00e2\u20ac\u201d more reliable than staticData\nlet count = 0;\ntry {\n  count = $('Code: Should We Sync').first().json.currentCount || 0;\n} catch(e) {\n  count = staticData.currentCount || 0;\n}\n\nconst limit = 1000;\nconst offsets = [];\nfor (let offset = 0; offset < count; offset += limit) {\n  offsets.push({ json: { offset, limit } });\n}\n\nif (offsets.length === 0) offsets.push({ json: { offset: 0, limit } });\n\nreturn offsets;"
      },
      "id": "11111111-0000-0000-0000-000000000010",
      "name": "Code: Generate Offsets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hkmis.ca/apicall/website/products/get-products.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authName",
              "value": "hkbwparts"
            },
            {
              "name": "authKey",
              "value": "/Hm1e&c1K&HGT4eF]F[SPY]3K!f9ITc*"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({limit: $json.limit, offset: $json.offset}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "11111111-0000-0000-0000-000000000011",
      "name": "HTTP: Fetch Products Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2000,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const allProducts = [];\n\nfor (const item of $input.all()) {\n  const products = item.json.products || [];\n  for (const p of products) {\n    if (p.id) {\n      allProducts.push({ json: { id: p.id } });\n    }\n  }\n}\n\nreturn allProducts;"
      },
      "id": "11111111-0000-0000-0000-000000000012",
      "name": "Code: Flatten Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        320
      ]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "11111111-0000-0000-0000-000000000013",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2480,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hkmis.ca/apicall/website/products/get-product-details.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authName",
              "value": "hkbwparts"
            },
            {
              "name": "authKey",
              "value": "/Hm1e&c1K&HGT4eF]F[SPY]3K!f9ITc*"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({prodid: $json.id}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "11111111-0000-0000-0000-000000000014",
      "name": "HTTP: Get Product Detail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2720,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const BASE_IMG_URL = 'https://hkmis.ca/web/product-images/';\nconst staticData = $getWorkflowStaticData('global');\nconst products = [];\n\nfor (const item of $input.all()) {\n  if (item.json.status !== 'success' || !item.json.products) {\n    staticData.totalFailed = (staticData.totalFailed || 0) + 1;\n    continue;\n  }\n\n  const p = item.json.products;\n\n  const priceRaw = parseFloat((p.selling_price || '0').replace(/,/g, ''));\n  const price = priceRaw > 0 ? priceRaw : null;\n\n  const qty = parseFloat(p.current_qty || '0');\n  const in_stock = qty > 0;\n\n  const rawImages = Array.isArray(p.images) ? p.images : (p.image ? [p.image] : []);\n  const image_urls = rawImages.filter(Boolean).map(img => BASE_IMG_URL + img);\n  const primary_image_url = image_urls[0] || null;\n\n  const category = (p.category || '').split(',')[0].trim() || null;\n  const brand = p.brands || null;\n\n  products.push({\n    external_id: String(p.id),\n    sku: p.sku,\n    name: p.name || null,\n    description: (p.description || '').replace(/\\r\\n/g, '\\n').trim() || null,\n    category,\n    subcategory: null,\n    brand,\n    price,\n    image_urls,\n    primary_image_url,\n    specifications: {},\n    alternate_skus: Array.isArray(p.cross_refs)\n      ? p.cross_refs\n          .map(s => typeof s === 'string' && s.includes('\t') ? s.split('\t').pop() : s)\n          .map(s => (s || '').replace(/[,;]+$/, '').trim())\n          .filter(Boolean)\n      : [],\n    related_parts: Array.isArray(p.related_products) ? p.related_products.map(Number).filter(n => n > 0) : [],\n    in_stock,\n    last_sync_at: new Date().toISOString()\n  });\n\n  staticData.totalSynced = (staticData.totalSynced || 0) + 1;\n}\n\n// Output as single item containing array \u00e2\u20ac\u201d sent as one bulk upsert to Supabase\nreturn [{ json: { products } }];"
      },
      "id": "11111111-0000-0000-0000-000000000015",
      "name": "Code: Transform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uibyfzthfjhxdxyferqj.supabase.co/rest/v1/products?on_conflict=sku",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVpYnlmenRoZmpoeGR4eWZlcnFqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQ1ODQzOCwiZXhwIjoyMDg5MDM0NDM4fQ.bfVy_5Jm0lZHPwNdIjj5PvCrHTis-nGNKIIIDYPyCEQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVpYnlmenRoZmpoeGR4eWZlcnFqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQ1ODQzOCwiZXhwIjoyMDg5MDM0NDM4fQ.bfVy_5Jm0lZHPwNdIjj5PvCrHTis-nGNKIIIDYPyCEQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.products) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "11111111-0000-0000-0000-000000000016",
      "name": "HTTP: Upsert Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3200,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nreturn [{\n  json: {\n    syncLogId: staticData.currentSyncLogId,\n    finalStatus: 'success',\n    totalSynced: staticData.totalSynced || 0,\n    totalFailed: staticData.totalFailed || 0,\n    currentCount: staticData.currentCount || 0,\n    syncStartedAt: staticData.syncStartedAt || new Date(0).toISOString()\n  }\n}];"
      },
      "id": "11111111-0000-0000-0000-000000000017",
      "name": "Code: Finalize Counts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        560
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://uibyfzthfjhxdxyferqj.supabase.co/rest/v1/sync_logs?id=eq.' + $json.syncLogId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVpYnlmenRoZmpoeGR4eWZlcnFqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQ1ODQzOCwiZXhwIjoyMDg5MDM0NDM4fQ.bfVy_5Jm0lZHPwNdIjj5PvCrHTis-nGNKIIIDYPyCEQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVpYnlmenRoZmpoeGR4eWZlcnFqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQ1ODQzOCwiZXhwIjoyMDg5MDM0NDM4fQ.bfVy_5Jm0lZHPwNdIjj5PvCrHTis-nGNKIIIDYPyCEQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({completed_at: new Date().toISOString(), status: $json.finalStatus, products_synced: $json.totalSynced, products_failed: $json.totalFailed}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "11111111-0000-0000-0000-000000000018",
      "name": "HTTP: Update Sync Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2960,
        560
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://uibyfzthfjhxdxyferqj.supabase.co/rest/v1/products?last_sync_at=lt.' + $('Code: Finalize Counts').first().json.syncStartedAt + '&in_stock=eq.true' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVpYnlmenRoZmpoeGR4eWZlcnFqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQ1ODQzOCwiZXhwIjoyMDg5MDM0NDM4fQ.bfVy_5Jm0lZHPwNdIjj5PvCrHTis-nGNKIIIDYPyCEQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVpYnlmenRoZmpoeGR4eWZlcnFqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQ1ODQzOCwiZXhwIjoyMDg5MDM0NDM4fQ.bfVy_5Jm0lZHPwNdIjj5PvCrHTis-nGNKIIIDYPyCEQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"in_stock\": false}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "11111111-0000-0000-0000-000000000019",
      "name": "HTTP: Mark Stale OOS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3200,
        560
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code: Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Manual Sync": {
      "main": [
        [
          {
            "node": "Code: Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Init": {
      "main": [
        [
          {
            "node": "HTTP: Get Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get Count": {
      "main": [
        [
          {
            "node": "Code: Should We Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Should We Sync": {
      "main": [
        [
          {
            "node": "IF: Skip or Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Skip or Sync": {
      "main": [
        [
          {
            "node": "HTTP: Insert Sync Log",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP: Insert Sync Log": {
      "main": [
        [
          {
            "node": "Code: Generate Offsets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Generate Offsets": {
      "main": [
        [
          {
            "node": "HTTP: Fetch Products Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Fetch Products Page": {
      "main": [
        [
          {
            "node": "Code: Flatten Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Flatten Products": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "HTTP: Get Product Detail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Finalize Counts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get Product Detail": {
      "main": [
        [
          {
            "node": "Code: Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Transform": {
      "main": [
        [
          {
            "node": "HTTP: Upsert Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Upsert Products": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Finalize Counts": {
      "main": [
        [
          {
            "node": "HTTP: Update Sync Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Update Sync Log": {
      "main": [
        [
          {
            "node": "HTTP: Mark Stale OOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d4e5f6a7-b8c9-0123-defg-456789012345",
  "id": "hk-product-sync",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "staticData": null,
  "tags": []
}